@import "tailwindcss";


@theme {
  --font-sans: "Roboto", system-ui, sans-serif;
}
.boderColor{
    @apply w-6 h-6 rounded-full hover:scale-110
}
.buttonNote{
    @apply px-2 py-2 rounded-2xl text-black hover:scale-110
}

/* animation */
@keyframes slidedown{
    from{
        opacity:0;
        transform: translateY(-50px)
    }
    to{
        opacity:1;
        transform:translateY(0)
    }
}